/* CSS Document */
* { margin:0; padding:0;}
html, body { height:100%; }
body {font-size:100%; line-height:1em; min-width:998px; background:url(images/bg.gif) top left repeat-x #fff}
html, input, textarea	{	font-family: Arial, Helvetica, sans-serif; 
		color:#a4a4a4;	}	

.alignMiddle{ vertical-align:middle}
.alignCenter{ text-align: center}
.container1{ width:100%}
object { vertical-align:top; outline:none}
.clear { clear:both;}
.fleft{ float:left}
.fright{ float:right}
div.container {	overflow:hidden; width: 100%;}
a img{ border:0}
img{ vertical-align:top;  }

a{color:#000000; text-decoration:underline; outline:none} 
a:hover{text-decoration:none}

.link{color:#254e84; background:url(images/marker.gif)  center right no-repeat; padding-right:8px; font-weight:bold}
.link1{color:#7c95b5;  font-weight:bold}
.link2{color:#7c95b5; font-style:italic}
.link3{color:#254e84;  font-weight:bold}

.button{color:#fff; background:url(images/button.gif) top left no-repeat; width:114px; text-align:center; line-height:32px; display:block; text-decoration:none;  }
.button:hover{text-decoration:underline }

#content ul{margin:0; padding:0; list-style:none;}
#content ul li{background:url(images/marker1.gif) top left no-repeat; background-position:0 9px; margin:0; padding-left:10px; }
#content ul li a{color:#7c95b5; font-weight:bold; text-decoration: underline; line-height:2em} 
#content ul li a:hover { text-decoration:none; }

.link-1 { display:block; float:left; background:url(images/link_bg.gif) repeat-x left top; color:#ffffff; text-decoration:none; }
.link-1 em { display:block; background:url(images/link_left.gif) no-repeat left top;}
.link-1  b { display:block; background:url(images/link_right.gif) no-repeat right top; padding:2px 23px 3px 28px; font-weight:normal; font-style:normal;}
.link-1:hover{ text-decoration:none; color:#000000}


/*header*/
#header {font-size:1em; color:#FFFFFF }
#header .logo{ margin:0 0 0 0 }
#header .line{ margin:8px 0 0 0 }
#header .arrow1{margin:299px 0 0 14px; position:absolute;}
#header .arrow2{margin:300px 0 0 968px; position:absolute;}
#header .indent{padding:62px 0 0 37px}
#header .menu{padding:8px 0 8px 0}

#header ul{margin:0; padding:0; list-style:none;}
#header ul li{ margin:0; display:inline}
#header ul li a{color:#fff; text-decoration:none; width:154px; text-align:center; display:block; float:left; line-height:45px;  background:url(images/bg_menu.gif) top left no-repeat;} 
#header ul li a:hover { text-decoration:none; background:url(images/bg_menu-act.gif) top left no-repeat; color:#254e84}
#header ul li a.current{ text-decoration:none; background:url(images/bg_menu-act.gif) top left no-repeat; color:#254e84  }

#header ul .first a{background:url(images/bg_menu-first.gif) top left no-repeat;} 
#header ul .first a:hover {background:url(images/bg_menu-first-act.gif) top left no-repeat;}
#header ul .first a.current{background:url(images/bg_menu-first-act.gif) top left no-repeat; }
#header ul .last a{background:url(images/bg_menu-last.gif) top left no-repeat;} 
#header ul .last a:hover {background:url(images/bg_menu-last-act.gif) top left no-repeat;}
#header ul .last a.current{background:url(images/bg_menu-last-act.gif) top left no-repeat; }

.banner{ margin-right:8px}

/*content*/
#content{ font-size:0.75em; width:100%; text-align:left;}
#content .indent-main{padding:0 40px 33px 67px}
#content .indent-main1{padding:0 40px 20px 67px}
#content .indent-main2{padding:0 50px 20px 67px}
#content .title{  margin-bottom:16px}
#content .img-left{ float:left; margin:0 20px 16px 0}
#content .img-indent{ margin:0 0 6px 0}
#content .img-indent1{ margin:0 0 16px 0}
#content p{ margin:0 0 17px 0}
#content .p{ margin:0}
#content .p1{ margin:0 0 7px 0}
#content h2{color:#254e84; font-size:2.5em; margin-bottom:11px; line-height:1.2em }
#content h3{color:#254e84; font-size:2.5em; margin-bottom:11px; line-height:1.2em; text-transform:uppercase }
#content h4{color:#8398b6; font-size:1em; margin-bottom:9px;  }
#content h5{color:#bd0d15; font-size:1em; margin-bottom:7px; font-weight:normal }
#content .tail{ background:url(images/tail.gif) bottom repeat-x; padding-bottom:9px; margin-bottom:9px}
#content .tail1{ background:url(images/tail1.gif) bottom left no-repeat; margin-bottom:9px;}
.txt{ color:#bd0d15; font-style:italic}
.txt1{ letter-spacing:-1px}
.txt2{ letter-spacing:-2px}

#content .indent{padding:0 0 0 0}
#content .indent1{padding:0 0 7px 37px}

/*box*/
.box{ background:#EAE4E0; width:100%;}
.box .border-top {background:url(images/border_top.gif) top repeat-x;}
.box .border-bottom {background:url(images/border_bottom.gif) bottom repeat-x;}
.box .border-left {background:url(images/border_left.gif) left repeat-y;}
.box .border-right {background:url(images/border_right.gif) right repeat-y;}
.box .corner-top-left {background:url(images/corner_top_left.gif) left top no-repeat;}
.box .corner-top-right {background:url(images/corner_top_right.gif) right top no-repeat;}
.box .corner-bottom-left {background:url(images/corner_bottom_left.gif) left bottom no-repeat;}
.box .corner-bottom-right {background:url(images/corner_bottom_right.gif) right bottom no-repeat; width:100%; }
.box .indent-box{ padding:0 0 0 0; }


/*footer*/
#footer { color:#a4a4a4; font-size:0.875em; }
#footer .indent-footer{ padding:3px 0 0 61px;}
#footer a {color:#a4a4a4; text-decoration:none}  
#footer a:hover {  text-decoration:underline}
#footer h2{color:#254e84; font-size:1.71em; margin-bottom:5px; line-height:1.2em }

	
.indent-2{ position:relative; padding-left:20px; float:left}
.h{ height:26px}
.h1{ height:30px; background:url(images/bg_input.gif) top left no-repeat}
.block-contact span{ float:right; margin-right:80px}
.input{
   	border:none; 
	background:none;
	width:175px; height:20px;
	font-size:12px;
	color:#254e84;
	padding-left:10px;
	margin-right:6px;
	padding-top:2px;
	padding-bottom:2px;
}input{
	width:249px; height:17px;
	font-size:1em;
	color:#254e84;
	padding-left:10px;
}
textarea{
	width:249px; height:77px;
	font-size:1em;
	color:#254e84;
	padding-left:10px;
	margin-bottom:11px;
	overflow:auto}